<!DOCTYPE html>
<html lang="fa-IR">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>External Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Optional Bootstrap for styling -->
</head>
<body>

<div class="container">
    <h1 class="my-4">External Data</h1>

    <!-- Check if there is any data to display -->
    {% if external_data %}
        {{ external_data|safe }}
    {% else %}
        <p>No data found.</p>
    {% endif %}
</div>

</body>
</html>
